.orders {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 5px solid black;
    border-radius: 5%;
    width: 20em;
    padding: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    flex-direction: column;
    gap: 3em;
}

.cart-container {
    display:flex;
    flex-direction: column;

}