.signUp {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 10em auto;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.link {
    text-decoration:none;
    color: rgb(131, 209, 196);
}    
     